$icon-font-path: '../fonts/';
/*
|--------------------------------------------------------------
| 1. Imports
|--------------------------------------------------------------
*/
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "bower_components/fontawesome/scss/font-awesome.scss";
@import "bourbon/bourbon";
@import url(http://fonts.googleapis.com/css?family=Roboto:500,100,300,100italic,400);
@import url(http://fonts.googleapis.com/css?family=Roboto+Mono);

/*
|--------------------------------------------------------------
| 2. Variables
|--------------------------------------------------------------
*/

$white:       #FAFAFA;
$lightgray:   #E0E0E0;
$gray:        #616161;
$black:       #212121;
$cyan:        #00BCD4;
$blue:        #2979FF;
$green:       #009688;
$teal:        #00BFA5;
$red:         #F44336;
$pink:        #E91E63;
$orange:      #FF9800;
$yellow:      #FFEC00;
$purp:        #3F51B5;

$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

.robo {
  font-family: 'Roboto', sans-serif;
}

.robo-mono {
  font-family: 'Roboto Mono', ;
}

/*
|--------------------------------------------------------------
| 3. Basic Attributes
|--------------------------------------------------------------
*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-X: hidden;
    @extend .robo;
    color: $white;
    font-size: 18px;

    @media (max-width: $sm) {
      h1 { 
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1rem
      }
      h3 {
        font-size: .8rem;
      }
      h4 {
        font-size: .7rem;
      }
      h5 {
        font-size: .6rem;
      }
      h6 {
        font-size: .5rem;
      }
      p {
        font-size: 12px;
      }
    } 

  ::selection {
  background: $orange;
  }
}

* {
    outline: none !important;
    &:focus, &:hover, &:active {
        outline: none !important;
    }
}

a {
    &:hover, &:focus, &:active {
        text-decoration: none;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

/*
|--------------------------------------------------------------
| 3. Global Styles
|--------------------------------------------------------------
*/

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.frame {
  width: 100%;
  height: 97%;
  position: relative;
  transition: all 250ms;
}

.frame-active {
    transform: translateX(200px);
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 0 20px;
    text-align: center;
    width: 90%;
  }

/*
|--------------------------------------------------------------
| 4. Navigation 
|--------------------------------------------------------------
*/

.sliding-navbar-main {
  width: 200px;
  height: 100%;
  position: fixed;
  background-color: $cyan;
  left: -200px;
  transition: all 250ms;
  z-index: 5;
  .sliding-navbar-toggle {
      left: 200px;
      position: absolute;
      border-left: 1px solid shade($cyan, 5%);
      width: 50px;
      height: 50px;
      background-color: $cyan;
      font-size: 30px;
      text-align: center;
      padding-top: 4px;
      cursor: pointer;
      &:hover {
          background-color: shade($cyan, 15%);
          transition: all 300ms;
      }
      &:active {
          background-color: tint($cyan, 15%);
          transition: all 300ms;
      }
      .hamburger {
          display: block;
          position: absolute;
          top: 23px;
          left: 9px;
          height: 2px;
          width: 30px;
          background-color: $white;
          transition: background .3s;
          &:before {
              content: '';
              display: block;
              background-color: $white;
              height: 2px;
              width: 30px;
              position: absolute;
              left: 0;
              top: 10px;
              transition: all .4s;
          }
          &:after {
              content: '';
              display: block;
              background-color: $white;
              height: 2px;
              width: 30px;
              position: absolute;
              left: 0;
              top: -10px;
              transition: all .4s;
          }
          &.active {
              background: none;
              &:before {
                  top: 0;
                  transform: rotate(-45deg);
              }
              &:after {
                  top: 0;
                  transform: rotate(45deg);
              }
          }
      }
  }
}

.sliding-navbar-active {
    transform: translateX(200px);
    // box-shadow: 5px 0px 20px fade($black, 25%);
}

.sliding-navbar-content {
    ul {
        padding: 0;
        list-style-type: none;
        li {
            display: block;
            width: 100%;
            .al-brand {
              height: 100px; 
              padding: 15px;
            }
            a {
                width: 100%;
                text-align: center;
                color: $white;
                display: block;
                font-size: 18px;
                height: 50px;
                padding-top: 12px;
                @extend .robo-mono;
                // text-transform: uppercase;
                font-weight: 400;
                // letter-spacing: 3px;
                &:hover {
                    background-color: shade($cyan, 15%);
                    transition: all 300ms;
                }
                &:active {
                    background-color: tint($cyan, 15%);
                    transition: all 300ms;
                }
            }
        }
    }
}

/*
|--------------------------------------------------------------
| 5. Introduction 
|--------------------------------------------------------------
*/

.intro {
  background-color: $blue;
  font-weight: 100;
  .logo {
    width: 900px;
    margin: 0 auto;
  }
  h2 {
    margin-top: 20px;
    font-weight: 100;
  }
  hr {
    width: 40%;
  }

  .intro-pf {
    height: 90%;
    position: absolute;
    bottom: 0;
    left: 55%;
    @media (max-width: $sm) {
      left: 10%;
      height: 110%;
    }
  }
}

/*
|--------------------------------------------------------------
| 6. Projects 
|--------------------------------------------------------------
*/

.projects {
  background-color: $purp;
  height: 900px;

  h1 {
    @extend .robo-mono;
  }

  hr {
    width: 45px;
    margin: 30px auto;
  }

  h3 {
    font-weight: 100;
  }
}